.aero{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.hh1{
    text-align: center;
    color: rgb(201, 11, 11);
    padding-top: 30px;
    left: 42%;
}
.hh2{
    text-align: center;
    color: rgb(12, 12, 92);
    padding-top: 10px;
}
.h2{
    text-align: center;
    left: 53%;
    width: 40%;
    margin-left: 20px;
}
p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}
